body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  header {
    font-size: 20px;
    font-weight: 900;
  }
  input, .search {
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
 .search {
   background-color: lightgrey;
   box-shadow: 2px 2px 3px #999;
 }
 .search:hover {
  box-shadow: 2px 2px 3px rgb(54, 54, 54);
  border-color: rgb(24, 151, 81);
  transition: 0.3s;
 }
